<img src="data:image/png;base64," data-src="holder.js/100%x250" alt="..." class="img-rounded">
<% if signed_in? %>
  <div class="row">
    <aside class="col-md-5">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <aside class="col-md-7">
      <section>
        <%= link_to "Рекомендовать услугу",new_recommendation_path, 
                                  class: "btn btn-lg btn-primary pull-right" %>
      </section>
    </aside>
  </div>
<% else %>

<% end %>