<% provide(:title, 'Мои рекомендации') %>
<h1>Мои рекомендации</h1>

<%= will_paginate %>

<ul class="recommendations" id="rec_list">
  <%= render @recommendations %>
</ul>

<%= will_paginate %>