<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= user_pic(@user) %>
      	<div class="user_name">
        	<%= @user.name %>
      	</div>
      </h1>
    </section>
  </aside>
</div>